body{
    margin: 0px;
    padding: 0px;  
}
.navbar{
	width: 100%;
	height: 113px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_link{
	text-decoration: none;
	color: white;
	font-size: 18px;
	margin-left: 38px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.nav_logo{
	margin-right: 35px;
}
.slogan{
	width: 100%;
	height: 1056px;
	display: flex;
	justify-content: center;
}
.desription{
	background-color: red;
	height: 1056px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.inc {
	background-image: url("pictures/IMG-20210610-WA0001.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1056px;
}
.inc_two {
	background-image: url("pictures/IMG-20210610-WA0002.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1056px;
}
.name{
	color: white;
	font-size: 50px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.profession{
	color: white;
	font-size: 45px;
	margin-top: 62px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.biography_link{
	text-decoration: none;
	color: white;
	font-size: 36px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.biography{
	width: 496px;
    height: 108px;
    border: 4px outset #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    transition: 1s;
}
.biography:hover{
	background-color: black;
	transition: 1s;
}
.artist_biography{
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.artist_word{
	color: #000000;
	font-size: 36px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.structure{
	display: flex;
	width: 100%;
	height: 634px;
	justify-content: center;
	margin: 0 auto;
}
.about{
	height: 634px;
	background-color: #FFA500;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-size: 28px;
	font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.pictures{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pictures_title{
	color: black;
	font-size: 36px;
	font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
}
.footer{
	width: 100%;
	height: 113px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.footer_item_word{
	font-size: 25px;
	font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-left: 70px;
}
.adaptive_nav{
	width: 100%;
	background-color: black;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.adaptive_word{
	color: white;
	font-size: 32px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
text-decoration: none;
}
.adaptive_menu{
	color: white;
	font-size: 32px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
border: 2px solid white;
padding: 10px;
transition: 1s;
cursor: pointer;
display: none;
}
.adaptive_menu:hover{
	transition: 1s;
	background-color: grey;
}
.phonenumber{
	color: white;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin-left: 100px;
}
.characteristics_item{
	 color: black;
	font-size: 25px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.characteristics_one{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 380px;
}
.characteristics_two{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.characteristics_two:nth-child(1) {
    width: 470px;
}
.characteristics_two:nth-child(2) {
    width: 380px;
}
.characteristics_two:nth-child(3) {
    width: 470px;
}
.characteristics_three{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.characteristics_three:nth-child(1) {
	width: 430px;
}
.characteristics_three:nth-child(2) {
	width: 400px;
}
.characteristics_three:nth-child(3) {
	width: 400px;
}
.characteristics_four{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 450px;
}
.characteristics_five{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.characteristics_five:nth-child(1) {
    width: 470px;
}
.characteristics_five:nth-child(2) {
    width: 440px;
}
.characteristics_five:nth-child(3) {
    width: 470px;
}
.characteristics_six{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.characteristics_seven{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 440px;
}
.gallery_item{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 70px;
    width: 380px;
    height: 600px;
}
.gallery_item:nth-child(2) {
	margin-left: 70px;
}
.gallery_item_two{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.gallery_item_two:nth-child(1) {
	width: 380px;
    height: 600px;
}
.gallery_item_two:nth-child(2) {
	width: 380px;
	height: 600px;
	margin-left: 70px;
}
.gallery_item_three{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.gallery_item_three:nth-child(1) {
	width: 430px;
	height: 570px;
}
.gallery_item_three:nth-child(2) {
	width: 400px;
	height: 450px;
	margin-left: 70px;
}
.gallery{
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery_item_four{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.gallery_item_four:nth-child(1) {
	width: 470px;
	height: 570px;
}
.gallery_item_four:nth-child(2) {
	width: 470px;
	height: 570px;
	margin-left: 70px;
}
.gallery_item_five{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	margin-top: 70px;
}
.gallery_item_five:nth-child(1) {
	width: 470px;
	height: 570px;
}
.gallery_item_five:nth-child(2) {
	width: 470px;
	height: 570px;
	margin-left: 70px;
}
.gallery_item_six{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	margin-top: 70px;
	width: 470px;
	height: 570px;
}
.gallery_item_six:nth-child(2) {
	margin-left: 70px;
}
.gallery_item_seven{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	margin-top: 70px;
}

.gallery_item_seven:nth-child(1) {
	width: 470px;
	height: 570px;
}
.gallery_item_seven:nth-child(2) {
	width: 400px;
	height: 450px;
}
.gallery_item_seven:nth-child(3) {
	width: 450px;
	height: 400px;
}
.gallery_item_seven:nth-child(4) {
	width: 450px;
	height: 400px;
}
.gallery_item_seven:nth-child(5) {
	width: 470px;
	height: 570px;
}
.gallery_item_seven:nth-child(6) {
	width: 440px;
	height: 410px;
}
.gallery_item_seven:nth-child(7) {
	width: 470px;
	height: 570px;
}
#rock{
	flex-direction: column;
}
.breaker{
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.riw{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.breaker:nth-child(1){
	width: 440px;
	height: 410px;
}
.breaker:nth-child(2){
    margin-left: 70px;
    height: 520px;
    width: 400px;
}
.drill{
	display: flex;
	align-items: center;
}
.jou{
	display: flex;
	align-items: center;
}
.remake{
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    margin-top: 70px;
    width: 435px;
    height: 535px;
}
.remake:nth-child(2){
	margin-left: 70px;
}
.rew{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.type{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}
.grandmother{
	display: flex;
	align-items: center;
}
.typewriter{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.type:nth-child(1){
	width: 400px;
	height: 500px;
}
.type:nth-child(2){
	width: 400px;
	height: 400px;
	margin-left: 70px;
}
.row{
	display: flex;
	align-items: center;
}
.first_row{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 470px;
	height: 570px;
	margin-top: 70px;
}
.row_item{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.first_row:nth-child(2){
	margin-left: 70px;
}
.heavyrain{
	display: flex;
	align-items: center;
}
.rain{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 470px;
	height: 570px;
	margin-top: 70px;
}
.rainwrite{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.part_two{
	display: flex;
	align-items: center;
}
.part_two_row{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 380px;
	height: 600px;
	margin-top: 70px;
}
.part_two_write{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.part_two_row:nth-child(2){
	margin-left: 70px;
}
.adaptive_nav_active{
	display: flex;
}
.adaptive_gallery{
	display: flex;
	flex-direction: column;
}
.adaptiveitem{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 350px;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.adaptive_wording{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 250px;
	height: 100px;
}
.wording_item{
	color: black;
	font-size: 15px;
	font-family: 'Encode Sans SC', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
.part_three{
	display: flex;
	align-items: center;
}
.part_three_row{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 380px;
	height: 600px;
	margin-top: 70px;
}
.part_three_write{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.part_three_row:nth-child(2){
	margin-left: 70px;
}
@media screen and (max-width: 1440px) {
	.name{
		font-size: 35px;
	}
	.profession{
		font-size: 30px;
	}
	.biography{
        width: 346px;
        height: 98px;
	}
	.biography_link{
		font-size: 26px;
	}
	.slogan{
		height: 1006px;
	}
	.inc{
		height: 1006px;
	}
	.inc_two{
		height: 1006px;
	}
	.desription{
		height: 1006px;
	}
	  .structure{
    	height: 515px;
    }
    .non{
    	height: 515px;
    }
    .about{
    	height: 515px;
    	font-size: 25px;
    }
}
@media screen and (max-width: 1200px) {
    .structure{
    	height: 504px;
    }
    .non{
    	height: 504px;
    }
    .about{
    	height: 504px;
    	font-size: 25px;
    }
}
@media screen and (max-width: 1024px) {
	.slogan{
		height: 956px;
	}
	.inc{
		height: 956px;
	}
	.inc_two{
		height: 956px;
	}
	.desription{
		height: 956px;
	}
	.structure{
    	height: 450px;
    }
    .non{
    	height: 450px;
    }
    .about{
    	height: 450px;
    }
    .name{
		font-size: 30px;
	}
	.profession{
		font-size: 25px;
	}
	.biography_link{
		font-size: 21px;
	}
	.gallery{
		flex-direction: column;
	}
	.gallery_item:nth-child(2) {
        margin-left: 0px; 
	}
	.gallery_item_two:nth-child(2) {
        margin-left: 0px; 
	}
	.part_two{
		flex-direction: column;
	}
	.part_two_row:nth-child(2) {
		margin-left: 0px;
	}
	.part_three{
		flex-direction: column;
	}
	.part_three_row:nth-child(2){
		margin-left: 0px;
	}
	.gallery_item_three:nth-child(2){
		margin-left: 0px;
	}
	.gallery_item_four:nth-child(2){
		margin-left: 0px;
	}
	.gallery_item_five:nth-child(2){
		margin-left: 0px;
	}
	.gallery_item_six:nth-child(2){
		margin-left: 0px;
	}
	.gallery_item_seven:nth-child(2){
		margin-left: 0px;
	}
	.drill{
		flex-direction: column;
	}
	.jou{
		flex-direction: column;
	}
	.grandmother{
		flex-direction: column;
	}
	.row{
		flex-direction: column;
	}
	.breaker:nth-child(2) {
		margin-left: 0px;
	}
	.remake:nth-child(2) {
		margin-left: 0px;
	}
	.type:nth-child(2){
		margin-left: 0px;
	}
	.first_row:nth-child(2){
		margin-left: 0px;
	}
}
@media screen and (min-width: 992px) {
	.desription{
        width: 37.19869706840391%;
	}
	.inc{
		width: 31.40065146579805%;
	}
	.inc_two{
		width: 31.40065146579805%;
	}
	.non{
		width: 49.86970684039088%;
	}
	.about{
		width: 49.86970684039088%;
	}
}
@media screen and (max-width: 992px) {
    .structure{
    	flex-direction: column;
    	align-items: center;
    	margin-top: 150px;
    	height: 1 468px;
    }
    .desription{
        width: 37.19869706840391%;
	}
	.inc{
		width: 31.40065146579805%;
	}
	.inc_two{
		width: 31.40065146579805%;
	}
	.non{
		width: 100%;
		height: 734px;
	}
	.about{
		width: 100%;
	}
	.pictures{
		margin-top: 150px;
	}
	.about{
		font-size: 20px;
	}
}
@media screen and (max-width: 965px) {
	.desription{
		width: 60%;
	}
	.inc{
		width: 40%;
	}
	.inc_two{
		display: none;
	}
}
@media screen and (max-width: 768px) {
    .structure{
    	margin-top: 100px;
    }
    .pictures{
		margin-top: 100px;
	}
}
@media screen and (max-width: 700px) {
	.inc{
		height: 906px;
	}
	.desription{
		height: 906px;
	}
	.slogan{
		height: 906px;
	}
}
@media screen and (max-width: 640px) {
    .biography{
        width: 196px;
        height: 98px;
        border: 1px ridge white;
	}
	.slogan{
		height: 806px;
	}
	.inc{
		height: 806px;
		width: 50%;
	}
	.desription{
		height: 806px;
		width: 50%;
	}
	.name{
		font-size: 25px;
	}
	.profession{
		font-size: 20px;
	}
	.biography_link{
		font-size: 16px;
	}
	.footer_item_word{
		font-size: 20px;
		margin-left: 0px;
		margin-top: 30px;
	}
	.footer{
		height: 213px;
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 578px) {
    .nav_word{
    	display: none;
    }
    .adaptive_menu{
    	display: block;
    }
}
@media screen and (max-width: 500px) {
    .slogan{
    	height: 1112px;
    	flex-direction: column;
    	align-items: center;
    }
    .inc{
    	height: 806px;
    	width: 100%;
    }
    .desription{
    	width: 100%;
    	height: 306px;
    }
}
@media screen and (max-width: 480px) {
	.gallery{
		display: none;
	}
	.part_two{
		display: none;
	}
	.part_three{
		display: none;
	}
	.drill{
		display: none;
	}
	.jou{
		display: none;
	}
	.grandmother{
		display: none;
	}
	.row{
		display: none;
	}
	.heavyrain{
		display: none;
	}
	
}
@media screen and (min-width: 481px) {
	.adaptive_gallery{
		display: none;
	}
}